@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Geist, ui-sans-serif, system-ui, sans-serif;
  --font-mono: Geist Mono, ui-monospace, SFMono-Regular, monospace;
}

/*Post created successfully animation*/
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out;
}



